.app {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  height: 100vh;
  font-size: 2rem;
}

.blue {
  color: brown;
  text-transform: uppercase;
  transition: all 0.5s;
}

.btn {
  padding: 0.8rem 1rem;
  border: 1px solid rgb(71, 255, 111);
  background: rgb(64, 240, 20);
  cursor: pointer;
  border-radius: 4px;
  font-size: 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}
